#hero {
  background-image: url('../../assets/images/Roadster/hero-mobile.jpg');
  background-attachment: fixed;
}

@media (min-width: 768px) {
  #hero {
    background-image: url('../../assets/images/Roadster/hero.jpg');
  }
}

#aero {
  background-image: url('../../assets/images/Roadster/extra.jpg');
}
