#hero {
  background-image: url('../../assets/images/Cybertruck/hero-mobile.jpg');
}

@media (min-width: 768px) {
  #hero {
    background-image: url('../../assets/images/Cybertruck/hero.jpg');
  }
}

#aero {
  background-image: url('../../assets/images/Cybertruck/extra.jpg');
}
