#hero {
  background-image: url('../../assets/images/Model-3/hero-mobile.jpg');
  color:rgb(231, 231, 231);
}

@media (min-width: 768px) {
  #hero {
    background-image: url('../../assets/images/Model-3/hero.jpg');
  }
}

#aero {
  background-image: url('../../assets/images/Model-3/extra.jpg');
  
}

#aero .container{
  color:rgb(255, 255, 255);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: 600;
}
