#hero {
  background-image: url('../../assets/images/Model-X/hero-mobile.jpg');
}

#hero-bottom {
  color: rgb(0, 0, 0);
}

.arrow-button {
  color: rgb(0, 0, 0);
}

.reserve-button {
  color: black;
  background-color: rgba(0, 0, 0, 0);
}

@media (min-width: 768px) {
  #hero {
    background-image: url('../../assets/images/Model-X/hero.jpg');
  }
}

#aero {
  background-image: url('../../assets/images/Model-X/extra.jpg');
}

#aero .container {
  color: rgb(0, 0, 0);
}
