#hero {
  background-image: url('../../assets/images/Model-S/hero-mobile.jpg');
}

@media (min-width: 768px) {
  #hero {
    background-image: url('../../assets/images/Model-S/hero.jpg');
  }
}

#aero {
  background-image: url('../../assets/images/Model-S/extra.jpg');
}
